<li>
  <p>
	  <%= truck.get("name") %><br>
	  <%= truck.get("address") %><br>
	  <%= truck.get("latitude") %><br>
	  <%= truck.get("longitude") %><br>
	  <%= truck.get("facilitytype") %><br>
		<%= truck.get("fooditem") %><br>
		<%= truck.get("status") %>
  </p>
  <!-- <button class="destroy">Destroy</button> -->
</li>